<mat-toolbar class="toolbar">
  <mat-toolbar-row>
    <span class="toolbar-title">Notas da Facul</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-grid-list cols="2" rowHeight="1:1" class="responsive-grid">
  <mat-grid-tile>
    <mat-card class="card">
      <p class="card-title">Meu histórico</p>
      <p class="card-subtitle">Clique em uma linha para editar!</p>
      <table mat-table [dataSource]="service.list">
        <ng-container matColumnDef="course">
          <th mat-header-cell *matHeaderCellDef> Curso </th>
          <td mat-cell *matCellDef="let element"> {{element.course}} </td>
        </ng-container>

        <ng-container matColumnDef="grade">
          <th mat-header-cell *matHeaderCellDef> Nota </th>
          <td mat-cell *matCellDef="let element"> {{element.grade}} </td>
        </ng-container>

        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Data </th>
          <td mat-cell *matCellDef="let element"> {{element.date}} </td>
        </ng-container>

        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef> Excluir? </th>
          <td mat-cell *matCellDef="let element"> <button mat-flat-button (click)="deleteRecord(element.id)"> Excluir </button> </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;" (click)="populateForm(row)">
        </tr>
      </table>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card class="card">
      <p class="card-title">Inserir nota</p>
      <form #form="ngForm" (submit)="onSubmit(form)">
        <mat-form-field appearance="outline" class="input-field">
          <mat-label> Curso </mat-label>
          <input matInput type="text" #course="ngModel" name="course" [(ngModel)]="service.formData.course" required autocomplete="off">
        </mat-form-field>

        <mat-form-field appearance="outline" class="input-field">
          <mat-label> Nota </mat-label>
          <input matInput type="number" #grade="ngModel" name="grade" [(ngModel)]="service.formData.grade" required autocomplete="off">
        </mat-form-field>

        <mat-form-field appearance="outline" class="input-field">
          <mat-label> Data </mat-label>
          <input matInput [matDatepicker]="picker" #date="ngModel" name="date" [(ngModel)]="service.formData.date" required autocomplete="off">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <button mat-flat-button type="submit">Enviar</button>
      </form>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
