<mat-toolbar class="toolbar">
  <mat-toolbar-row>
    <span class="toolbar-title">Notas da Facul</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-grid-list [cols]="gridCols" rowHeight="1:1" class="responsive-grid">
  <mat-grid-tile>
    <mat-card class="card">
      <p class="card-title">Meu histórico</p>
      <p class="card-subtitle">Clique em uma linha para editar!</p>
      <table mat-table [dataSource]="service.list">
        <ng-container matColumnDef="course">
          <th mat-header-cell *matHeaderCellDef> Curso </th>
          <td mat-cell *matCellDef="let element"> {{element.course}} </td>
        </ng-container>

        <ng-container matColumnDef="grade">
          <th mat-header-cell *matHeaderCellDef> Nota </th>
          <td mat-cell *matCellDef="let element"> {{element.grade}} </td>
        </ng-container>

        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Data </th>
          <td mat-cell *matCellDef="let element"> {{ element.date | date:'dd/MM/yyyy' }} </td>
        </ng-container>

        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef> Excluir? </th>
          <td mat-cell *matCellDef="let element"> <button mat-flat-button (click)="deleteRecord(element.id)" color="warn" class="send-button"> Excluir </button> </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;" (click)="populateForm(row)">
        </tr>
      </table>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card class="card">
      <p class="card-title">Inserir nota</p>
      <form #form="ngForm" (ngSubmit)="onSubmit(form)" novalidate>
        <mat-form-field appearance="outline" class="input-field">
          <mat-label> Curso </mat-label>
          <input matInput type="text" name="course" [(ngModel)]="service.formData.course" #course="ngModel" required autocomplete="off">
          <mat-error *ngIf="course.invalid && (course.dirty || course.touched)">
            O curso é obrigatório
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="input-field">
          <mat-label> Nota </mat-label>
          <input matInput type="number" name="grade" [(ngModel)]="service.formData.grade" #grade="ngModel" required min="0" max="10" autocomplete="off">
          <mat-error *ngIf="grade.invalid && (grade.dirty || grade.touched)">
            A nota deve estar entre 0 e 10
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="input-field">
          <mat-label> Data </mat-label>
          <input matInput [matDatepicker]="picker" name="date" [(ngModel)]="service.formData.date" #date="ngModel" required autocomplete="off">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="date.invalid && (date.dirty || date.touched)">
            A data é obrigatória
          </mat-error>
        </mat-form-field>

        <button mat-flat-button type="submit" [disabled]="form.invalid">Enviar</button>
      </form>
    </mat-card>
  </mat-grid-tile>
