.toolbar {
  background-color: #005cbb;
  position: fixed;
  top: 0;
  z-index: 999;
}

.toolbar-title {
  font-weight: 600;
  color: #ffffff;
}

.card-title {
  font-weight: 600;
  color: #005cbb;
  font-size: 18px;
}

.card-subtitle {
  font-weight: 500;
  color: #005cbb;
  font-size: 14px;
}

.input-field {
  width: 100%;
}

.card {
  width: 700px;
  height: auto;
  padding: 16px;
}

.send-button {
  background: #ffb3ba;
}

.responsive-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;
  margin-top: 0px;
}

@media (max-width: 768px) {
  .responsive-grid {
    margin-top: 30px;
  }
}
